<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="search">
			<input id="search-bar" type="text" placeholder="Search google...">
			<button id="submit">Submit</button>
		</div>

		<div id="results">
			<% if (typeof(links) === 'object' && Array.isArray(links)) { %>
				<% for (let i = 0; i < links.length; i++) { %>
					<% if (links[i].href && links[i].title) { %>
						<div class="result">
							<a class="title" href="<%= links[i].href %>"><%= links[i].title %></a>
							<p class="description"><%= links[i].description %></p>
						</div>
					<% } %>
				<% } %>
			<% } else { %>
				.... You need to search something
			<% } %>
		</div>

		<script src="/static/js/google.js"></script>
	</body>
</html>